* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #80807f -39%, #ff0000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.container {
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
  width: 500px;
  max-width: 100%;
  overflow: hidden;
}
.header {
  background-color: #eee;
  padding: 20px;
  margin-bottom: 10px;
}
.form {
  display: flex;
  padding: 20px;
  row-gap: 10px;
  flex-direction: column;
  &-control {
    position: relative;
    width: 100%;
    input {
      &:hover {
        border-color: #000;
        transition: 0.8s;
      }
    }
  }
  .check {
    display: flex;
    gap: 15px;
    input {
      width: 20px;
    }
  }
  .carcass-box {
    width: 100%;
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
  }
  input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    display: block;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
  }
  i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
  }
  small {
    position: absolute;
    bottom: 5px;
    color: #e74c3c;
    left: 0;
    visibility: hidden;
    font-weight: 600;
  }
}
.result-container {
  display: none;
  flex-direction: column;
  .result-header {
    display: flex;
    padding: 10px 25px;
    background-color: #eee;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    img {
      transform: rotate(-0.5turn);
      width: 40px;
      &:hover {
        cursor: pointer;
        opacity: 90%;
        transition: 0s;
      }
    }
  }
  .result-box {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    text-align: end;

    .tax-compress {
      background-color: #eee;
      border-radius: 10px 10px 0px 0px;
    }
    .result-compress {
      padding: 5px;
    }
    .result-complement {
      font-weight: 300;
      font-style: italic;
    }
  }
}

button {
  width: 100%;
  background-color: crimson;
  border-radius: 10px;
  border: 2px solid crimson;
  font-size: 20px;
  padding: 10px;
  color: #eee;
  font-weight: bold;
  &:hover {
    background-color: #e74c3c;
    transition: 0.2s;
  }
}
.form-control.error {
  input {
    border-color: #e74c3c;
  }
  i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
